In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("pirates.csv")

In [3]:
data.head()

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [5]:

print("The type of data found in the parrots column are objects")

The type of data found in the parrots column are objects

In [6]:
missing_data = data.isna()

In [7]:
for index, row in missing_data.iterrows():
    missing_columns = row[row].index.tolist()
    if missing_columns:
        print(f"Row {index} has missing values in columns: {', '.join(missing_columns)}")

Row 33 has missing values in columns: age
Row 136 has missing values in columns: sword.time
Row 634 has missing values in columns: favorite.pirate
Row 999 has missing values in columns: headband

In [8]:
#for column in data.columns:
 #   for row in range(len(["id"])):
  #      if pd.isna(data.loc[row, column]):
   #         print(row)
    #        print(column)

In [9]:
data.dropna()

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,995,male,34.0,172.45,75.0,yes,JSSFP,9,18,16,Jack Sparrow,cutlass,1,0.16,18,Toy Story 3,10
995,996,male,26.0,178.83,70.8,yes,CCCC,14,11,2,Jack Sparrow,cutlass,0,0.46,20,Up,13
996,997,female,34.0,157.20,53.6,yes,JSSFP,13,48,2,Hook,cutlass,0,0.15,0,Finding Nemo,8
997,998,male,36.0,175.74,72.4,yes,JSSFP,9,95,14,Jack Sparrow,cutlass,1,1.28,18,The Incredibles,11
998,999,male,30.0,175.24,70.2,yes,JSSFP,9,6,0,Lewis Scot,cutlass,1,0.21,24,Inside Out,10

In [10]:
count = data["sex"].nunique()
count

3

In [11]:
data.reset_index(inplace = True)

In [12]:
data["age"][data["sex"] == "female"].mean()

29.922246220302377

In [18]:
femaleList = []
pirateAge = data["age"].mean()

print(pirateAge)

for i in data["sex"]:
    if i == "female":
        femaleList.append(data["age"][i])
        
femalePirateMean = sum(femaleList) / len(femaleList)
femalePirateMean

27.35735735735736

KeyError: 'female'

In [14]:
#45.3592 kg = 100 lbs 
kgLimit = 45.3592
lessThanKgLimit = 0
moreThanKgLimit = 0
for i in data["weight"]:
    if i < kgLimit:
        lessThanKgLimit += 1
    if i > kgLimit:
        moreThanKgLimit += 1
percent = lessThanKgLimit/moreThanKgLimit * 100
percent

0.8064516129032258

In [15]:
minHeightId = data["height"].idxmin()
print(minHeightId)
print(data["height"][38])

38
129.83

In [16]:
maxWeightId = data["weight"].idxmax()
print(maxWeightId)

1

In [17]:
mostPopularMovie = data["fav.pixar"].mode()
mostPopularMovie

0    Inside Out
Name: fav.pixar, dtype: object

In [20]:
avgEyepatches = data["eyepatch"].mean()
print(avgEyepatches)
medianEyepatches = data["eyepatch"].median()
print(medianEyepatches)

0.658
1.0

In [37]:
data.loc[36, "parrots"] = 1
idx = 0
for i in data["parrots"]:
    data.loc[idx, "parrots"] = int(i)
    idx += 1
data["parrots"] = data["parrots"].astype(float)
avgParrots = data["parrots"].mean()
print(avgParrots)
medianParrots = data["parrots"].median()
print(medianParrots)

2.819
2.0