In [13]:
import pandas as pd

In [14]:
data = pd.read_csv("pirates.csv")

In [15]:
data.head()

,id,sex,age,height,weight,headband,college,tattoos,tchests,parrots,favorite.pirate,sword.type,eyepatch,sword.time,beard.length,fav.pixar,grogg
0,1,male,28.0,173.11,70.5,yes,JSSFP,9,0,0,Jack Sparrow,cutlass,1,0.58,16,"Monsters, Inc.",11
1,2,male,31.0,209.25,105.6,yes,JSSFP,9,11,0,Jack Sparrow,cutlass,0,1.11,21,WALL-E,9
2,3,male,26.0,169.95,77.1,yes,CCCC,10,10,1,Jack Sparrow,cutlass,1,1.44,19,Inside Out,7
3,4,female,31.0,144.29,58.5,no,JSSFP,2,0,2,Jack Sparrow,scimitar,1,36.11,2,Inside Out,9
4,5,female,41.0,157.85,58.4,yes,JSSFP,9,6,4,Hook,cutlass,1,0.11,0,Inside Out,14

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               1000 non-null   int64
 1   sex              1000 non-null   object
 2   age              999 non-null    float64
 3   height           1000 non-null   float64
 4   weight           1000 non-null   float64
 5   headband         999 non-null    object
 6   college          1000 non-null   object
 7   tattoos          1000 non-null   int64
 8   tchests          1000 non-null   int64
 9   parrots          1000 non-null   object
 10  favorite.pirate  999 non-null    object
 11  sword.type       1000 non-null   object
 12  eyepatch         1000 non-null   int64
 13  sword.time       999 non-null    float64
 14  beard.length     1000 non-null   int64
 15  fav.pixar        1000 non-null   object
 16  grogg            1000 non-null   int64
dtypes: float64(4), int64(6), object(7)
memory usage: 132.9+ KB

In [17]:

print("The type of data found in the parrots column are objects")

The type of data found in the parrots column are objects

In [18]:
missing_data = data.isna()

In [19]:
for index, row in missing_data.iterrows():
    missing_columns = row[row].index.tolist()
    if missing_columns:
        print(f"Row {index} has missing values in columns: {', '.join(missing_columns)}")

Row 33 has missing values in columns: age
Row 136 has missing values in columns: sword.time
Row 634 has missing values in columns: favorite.pirate
Row 999 has missing values in columns: headband

In [20]:
#for column in data.columns:
 #   for row in range(len(["id"])):
  #      if pd.isna(data.loc[row, column]):
   #         print(row)
    #        print(column)

In [23]:
data = data.fillna(data["age"].mean(), None, data["age"])

C:\Users\hussa\AppData\Local\Temp\ipykernel_25520\2662348795.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.fillna except for the argument 'value' will be keyword-only.
  data = data.fillna(data["age"].mean(), None, data["age"])

TypeError: unhashable type: 'Series'

In [ ]:
data.info()

In [11]:
data.dropna()

0      28.0
1      31.0
2      26.0
3      31.0
4      41.0
       ...
995    26.0
996    34.0
997    36.0
998    30.0
999    30.0
Name: age, Length: 1000, dtype: float64