In [1]:
data1 = {
    "Edward Teach": ["1716-1718", "Caribbean", "Blackbeard"],
    "Anne Bonnie": ["1718-1720", "Caribbean", "none"],
    "john Rackham": ["1718-1720", "Caribbean", "Calico Jack"], 
    "Chenug Po Tsai": ["1798-1810", "South China Sea", "The Kid"],
    "Grace O'Malley": ["1564-1595", "British Isles", "Queen of Ireland"],
    "Mary Read": ["1708-1721", "Caribbean", "Mark"],
    "sayida al Hurry": ["1515-1545", "Mediterranean", "Hakimat Titwan"],
    "zheng Yi Sao": ["1801-1810", "South China Sea", "Ching Shih"],
    "Francis Drake": ["1563-1596", "Caribbean", "Sir Francis Drake"],
    "Jean Lafitte": ["1810-1823", "Gulf of Mexico", "Terror of the Gulf"],
}

In [2]:
data2 = {
    "Names": ["Edward Teach","Anne Bonnie","john Rackham", "Chenug Po Tsai", "Grace O'Malley", "Mary Read", "sayida al Hurry", "zheng Yi Sao", "Francis Drake", "Jean Lafitte"],
    "Years Active": ["1716-1718", "1718-1720", "1718-1720", "1798-1810", "1564-1595", "1708-1721", "1515-1545", "1801-1810", "1563-1596", "1810-1823"],
    "Sailed": ["Caribbean", "Caribbean", "Caribbean", "South China Sea", "British Isles", "Caribbean", "Mediterranean", "South China Sea", "Caribbean", "Gulf of Mexico" ], 
    "Alias": ["Blackbeard", "none", "Calico Jack", "The Kid", "Queen of Ireland", "Mark", "Hakimat Titwan", "Ching Shih", "Sir Francis Drake", "Terror of the Gulf"],
}

In [4]:
count = 0
for i in range(len(data2["Sailed"])):
    if data2["Sailed"][i] == "Caribbean":
        yearsSep = data2["Years Active"][i].split("-")
        for year in yearsSep:
            yearInt = int(year)
            if yearInt >= 1700 and yearInt < 1800:
                count += 1
                break
print(str(count) + " Pirates active in the 18th century.")

4 Pirates active in the 18th century.

In [7]:
careers = []
for i in data2["Years Active"]:
    rangeYears = i.split("-")
    for j in range(2):
        rangeYears[j] = int(rangeYears[j])
    difference = rangeYears[1] - rangeYears[0]
    careers.append(difference)

idx = careers.index(max(careers))
data2["Names"][idx]

'Francis Drake'

In [8]:
avg = sum(careers)/len(careers)
avg

14.7

In [53]:
pirates = {
    "Names":["Blackbeard", "Anne Bonny", "Calico Jack", "Cheung Po Tsai", "Grace O'Malley", "Mary Read", "Sayyida al Hurra", "Ching Shih", "Sir Francis Drake", "Jean Lafittte"],
    "Sex":["M", "F", "M", "M", "F", "F", "F", "F", "M", "M"],
    "Age at Death":[40, 24, 37, 39, 73, 36, 75, 69, 56, 46],
    "Height":[6.4, 5.6, 5.6, 5.3, 5.0, 5.1, 0.0, 5.3, 5.5, 6.2],
    "Skull and Crossbones":[False, True, True, False, False, True, False, False, False, False]
}

In [54]:
def Merge(dict_1, dict_2):
    result = dict_1 | dict_2
    return result
mergedData = Merge(pirates, data2)
mergedData

{'Names': ['Edward Teach',
  'Anne Bonnie',
  'john Rackham',
  'Chenug Po Tsai',
  "Grace O'Malley",
  'Mary Read',
  'sayida al Hurry',
  'zheng Yi Sao',
  'Francis Drake',
  'Jean Lafitte'],
 'Sex': ['M', 'F', 'M', 'M', 'F', 'F', 'F', 'F', 'M', 'M'],
 'Age at Death': [40, 24, 37, 39, 73, 36, 75, 69, 56, 46],
 'Height': [6.4, 5.6, 5.6, 5.3, 5.0, 5.1, 0.0, 5.3, 5.5, 6.2],
 'Skull and Crossbones': [False,
  True,
  True,
  False,
  False,
  True,
  False,
  False,
  False,
  False],
 'Years Active': ['1716-1718',
  '1718-1720',
  '1718-1720',
  '1798-1810',
  '1564-1595',
  '1708-1721',
  '1515-1545',
  '1801-1810',
  '1563-1596',
  '1810-1823'],
 'Sailed': ['Caribbean',
  'Caribbean',
  'Caribbean',
  'South China Sea',
  'British Isles',
  'Caribbean',
  'Mediterranean',
  'South China Sea',
  'Caribbean',
  'Gulf of Mexico'],
 'Alias': ['Blackbeard',
  'none',
  'Calico Jack',
  'The Kid',
  'Queen of Ireland',
  'Mark',
  'Hakimat Titwan',
  'Ching Shih',
  'Sir Francis Drake',
  'Terror of the Gulf']}

col1
col2